.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.services__text-container {
    background-color: #f07926;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.services__image-container {
    height: 100%;
    background-color: #6e0e07;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.services__image {
    height: 400px;
    width: 450px;
}

.services__header {
    width: 300px;
    font-family: 'Instrument-Serif';
    font-size: 20px;
}

.services__sub-header {
    width: 300px;
    font-family: 'Instrument-Sans';
    font-size: 24px;
    line-height: 1.6em;
}

.services__description {
    width: 300px;
    font-family: 'Instrument-Serif';
    font-size: 20px;
    line-height: 1.6em;
}
