.home {
    height: 80vh;
    background-color: #fbc246;
}

.home__content {
    display: flex;
    justify-content: space-around;
}

.home__text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home__image {
    height: 450px;
    width: 600px;
    margin-top: 50px;
}

.home__header {
    width: 400px;
    font-family: 'Instrument-Serif';
    font-size: 20px;
}

.home__sub-header {
    width: 400px;
    font-family: 'Instrument-Sans';
    font-size: 24px;
    line-height: 1.6em;
}

.home__description {
    width: 400px;
    font-family: 'Instrument-Serif';
    font-size: 20px;
    line-height: 1.6em;
}

.home__hummingbird {
    height: 150px;
    width: 200px;
}
