.nav {
    padding: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #6e0e07;
}

.nav__logo {
    font-family: 'Instrument-Sans', 'Ariel';
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav__links {
    font-family: 'Instrument-Sans';
}

.nav__link {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.nav__lang {
    color: #fff;
}
